<div class="page-header">
  <%= link_to new_translator_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Translator
  <% end %>
  <h1>Listing translators</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @translators) do |translator| %>
        <td><%= link_to translator.email, translator %></td>
        <td><%= translator.firstname %></td>
        <td><%= translator.lastname %></td>
        <td><%= link_to 'Destroy', translator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
