<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= form_group (f.label :email), (f.email_field :email, autofocus: true) %>
  <%= form_group (f.label :password), (f.password_field :password, autocomplete: "off") %>
  <%= form_group (f.label :password_confirmation), (f.password_field :password_confirmation, autocomplete: "off") %>

  <%= f.submit "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
