<div class="page-header">
  <%= link_to new_project_status_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Project status
  <% end %>
  <h1>Listing project_statuses</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Key</th>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @project_statuses) do |project_status| %>
            <td><%= project_status.key %></td>
            <td><%= project_status.name %></td>
            <td><%= link_to 'Show', project_status %></td>
        <td><%= link_to 'Edit', edit_project_status_path(project_status) %></td>
        <td><%= link_to 'Destroy', project_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
