<div class="page-header">
  <%= link_to projects_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @project, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>General Project Info</h1>
</div>

<%= render 'form' %>

<h1>Project Resources</h1>

<%= link_to "Add resource to project", new_resource_path(:project_id => @project), :class => 'btn btn-default' %>

<br>
<br>

<div ng-controller='AssignmentsCtrl'>
  <% @project.resources.each do |resource| %>
  	<%= @resource = resource and render 'resources/preview', show_languages: true %>
  <% end %>
</div>

<script type="text/javascript">
  app.controller('AssignmentsCtrl', function ($scope, $http) {
    $scope.assignments = {};

    $scope.reassign = function (resource_id, language_id) {

      $http.post('<%= reassign_path %>', {
        resource_id: resource_id,
        language_id: language_id,
        translator_id: $scope.assignments[[resource_id, language_id]]
      }).then(function (resp) {
        if (resp.data.success) {
          $scope.flash("Reassigned successfully!");
        }
        else {
          $scope.flash("Could not assign!", "alert");
        }
      });
    };

  });
</script>
